<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam atque fuga asperiores sit, esse debitis illum. Laboriosam quos, perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur, error veniam excepturi laudantium.</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam atque fuga asperiores sit, esse debitis illum. Laboriosam quos, perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur, error veniam excepturi laudantium.</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam atque fuga asperiores sit, esse debitis illum. Laboriosam quos, perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur, error veniam excepturi laudantium.</p>
        </ul>
    </div>
</div>
